body{
	background-color:#003748;
	margin:0px;
	padding:0px;
}
#banner{
	color:white;
	background-color:white;
	padding:0px;
	margin:0px;

}
#bannerNavContainer{
	display:inline-block;
	width:80vw;
}
#navBar{
	
}
#navBar li{
	display: inline;
	padding-top:15px; 
	padding-bottom:15px;
}
#navBar li a{
	text-decoration:none;
	padding:15px;
}
#navBar li:hover{ /*When mouse hovers over element */
	background-color:#003748;
	color:white;
}




#bannerBottom{
	height:20px;
	background-color:#004e63;
}



#bannerLeft{
	color:black;
	display:inline-block;
	width: 20vw;
}