* {
    margin:0;
    padding:0;
    border:0;
    font-family: 'Montserrat', sans-serif;
}

/* DARK BLUE: #003748 */
/* DARK TEAL: #336699 */
/* DARK GREEN: #339933 */
/* MID GREEN: #00CC66 */

/* ---- FRAMEWORK ---- */
html{background-color: #003748;color:#FFFFFF;}
div {display:inline-block;}
.container{padding:0 15px;width:1170px;margin: 0 auto;display:block;}
.row{margin: 0 -15px;min-height: 1px;display:block;}
.col{margin-top:10px;display:inline-block;vertical-align:top;}
.col-12 {width:100%;}
.col-9 {width:75%;}
.col-8 {width:66%;}
.col-6 {width:49%;}
.col-4 {width:33%;}
.col-3 {width:25%;}
.col-2 {width:16.6%;}

a{text-decoration:none;color:#CCCCCC;}
    a:hover{text-decoration:underline;}

.header-background{background-color: #FFFFFF;width:100%;padding:0;margin:0;
                  height:100px;display:inline-block;border-bottom:1px solid #339933;}
.header{width:1170px;margin:0 auto;padding:0;display:block;}
.logo{height:100px;width:310px;padding-right:10px;vertical-align:top;}
.logo h1{color:#336699;}
.nav{height:100px;vertical-align:top;}
    .menu{padding:40px 15px 0 15px;height:60px;color:#003748;
          text-decoration:none; background-color: #FFFFFF;float:left;}
    .menu:hover{background-color: #336699;color:#FFFFFF;}
    .active{background-color:#336699;color:#FFFFFF;}
.login-container{height:100px;vertical-align:top;}
    .login{height:50px;margin-top:10px;padding:15px 20px;
           border-left:1px solid #003748;color:#003748;vertical-align:middle;
           line-height:25px;}
    .login button{height:25px;padding:2.5px 10px;border-radius:2px;
                  background-color: #003748;color:#FFFFFF;}
    .login button:hover{background-color:#336699;}
.icon{height:80px;padding:20px 10px 0 10px;}
    .icon img{height:50px;}

h1, h2, h3{text-align: center;}
h1{font-size:45px;padding-top:20px;}
h2{font-size:35px;padding-top:20px;}
h3{font-size:25px;text-align:left;padding:0;}

.title{border-bottom:1px solid #00CC66;}
.content{margin-bottom:30px;padding-top:30px;}

form{margin-top:15px;padding:10px 20px;max-width:100%;min-height:270px;border-radius:3px;border:1px solid #FFF;}
label{display:inline-block;margin:9px 0 8px 0;}
input, select{display:inline-block;margin-bottom:10px;background-color:#EEEEEE;border-radius:3px;padding:6px 15px;width:280px;}
    .submit{width:110px;border:1px solid #FFFFFF;text-align:center;}
    .submit:hover{background:#336699;color:#FFFFFF;}
    .check{width:12px;height:12px;}
.listed{background-color:#336699;padding:15px;margin-top:10px;border-radius:1px;}
    .listed span{display:inline-block;width:220px;}
button{padding:5px;border-radius:1px;}
    button:hover{background-color:#000000;color:#FFFFFF;}
.failure{color:#FF0000;}

.widget{margin:15px 10px;padding:20px;min-width:350px;line-height:150%;border-radius:3px;background-color:#FFFFFF;color:#000000;}
    .widget form {min-height:auto;}
progress{border-radius:2px;height:15px;background:#AAAAAA;border: 1px solid #444444;}
    
table{border-collapse: collapse;border-spacing: 0;text-align:left;color:#000000;}
tr{}
    th{font-weight:bold;}
    td,th{border-bottom:1px solid #00CC66;margin:0;padding:5px 10px;}
table.none{color:#FFFFFF;}
    table.none tr td{border:none;vertical-align:super;text-align:right;}
    
.page-wrap{min-height:100%;height:auto;margin-bottom:-35px;width:100%;}
.footer-background{background-color:#FFFFFF;position:fixed;bottom:0;left:0;padding:0;margin:0;width:100%;height:34px;border-top:1px solid #339933;}
.footer{color:#003748;padding:11px 0;width:1170px;margin:0 auto;font-size:10px;display:block;}

@media only screen and (max-width: 1170px) {
    .container{width:960px;}
    .col-4, col-3, col-2{width:46%;}
    .header{width:960px;}
    .logo{padding-right:0px;}
    .menu{padding:40px 5px 0 5px;}
    .login{padding:15px 5px;}
    .footer{width:960px;}
}

@media only screen and (max-width:960px) {
    .container{width:760px;}
    .col-9, col-8, col-6, col-4, col-3, col-2{width:100%;}
    .header{width:760px;}
    .logo{width:100%;clear:both;padding:0;}
    .footer{width:760px;}
}