.widgetContainer{
	box-sizing: border-box;
	border: 1px solid;
	width: 250px;
	min-width: 250px;
	max-width:250px;
	height: 250px;
	background-color: #d4e2f9;
	border-radius: 15px;
	border-style: dashed;
	text-align: center;
	border-color: #7c7c7c;
	vertical-align:top;
	display:table-cell;
}
#floatingWindow{
	z-index:1;
	left:-250px;
	top:-250px;
	position: fixed;
	pointer-events: none;
}
.widget{
	box-sizing: border-box;
	background: linear-gradient(180deg, #d4e2f9, #d4e2f9 30px, white 31px, white 100%);
	border: 1px solid;
	width: 250px;
	min-width: 250px;
	max-width:250px;
	height: 250px;
	border-radius: 15px;
	border-style: double;
	text-align: center;
	border-color: #7c7c7c;
	vertical-align:top;
	display:table-cell;
}


.emptyWidget{
	box-sizing: border-box;
    background-color:#b8d2fc;
    border: 1px solid;
    width: 250px;
	max-width:250px;
	min-width: 250px;
    height:250px;
    border-color: #b8d2fc;
	display:table-cell;
}


.container{
	width: 750px;
	height: 500px;
	float:left;
	left:calc(50% - 375px);
	position:sticky;
	table-layout:fixed;
	margin:0px;
	padding:0px;
}

.wButton{
	width: 30%;
	height: 30px;
	border: none;
	background-color: #d4e2f9;
	font-size:10px;
}
.wButton:hover{
	background-color: #bfd2f2;
	
}
.wButtons{
	margin-top:15px;
}

#banner{
	width:100vw;
	height: 100px;
	/*background-color:black;*/
	padding:0px;
	margin:0px;
	background: linear-gradient(180deg, #d4e2f9, #d4e2f9 30px, white 31px, white 100%);
}

#sideRibon{
	float:left;
	width: 10vw;
	background-color:black;
	height:100vh;
	position: sticky;
	padding:0px;
	margin:0px;
}


hr{
	margin-left:15px;
	margin-right:15px;
}
h4{
	color:#b5b5b5;
}

h1{
	position: relative;
	top: 1000px;
}
body{
	background-color:#b8d2fc;
	padding:0px;
	margin:0px;
}