* {
    margin:0;
    padding:0;
    border:0;
    font-family: 'Montserrat', sans-serif;
}

/* DARK BLUE: #003748 */
/* DARK TEAL: #336699 */
/* DARK GREEN: #339933 */
/* MID GREEN: #00CC66 */

/* ---- FRAMEWORK ---- */
html{background-color: #003748;color:#FFFFFF;}
div {display:inline-block;}
.container{padding:0 15px;width:1170px;margin: 0 auto;display:block;}
.row{margin: 0 -15px;min-height: 1px;display:block;}
.col{padding:10px 5px;display:inline-block;vertical-align:top;}
.col-12 {width:100%;}
.col-9 {width:75%;}
.col-8 {width:66%;}
.col-6 {width:48%;}
.col-4 {width:33%;}
.col-3 {width:25%;}
.col-2 {width:16.6%;}

.header-background{background-color: #FFFFFF;width:100%;padding:0 30px;
                  margin:0;height:100px;display:inline-block;}
.logo{height:100px;width:310px;padding-right: 20px;vertical-align:top;}
.logo h1{color:#336699;}
.nav{height:100px;vertical-align:top;}
    .menu{padding:40px 20px 0 20px;height:60px;color:#003748;
          text-decoration:none; background-color: #FFFFFF;float:left;}
    .menu:hover{background-color: #336699;color:#FFFFFF;}
    .active{background-color:#336699;color:#FFFFFF;}
.login-container{height:100px;vertical-align:top;}
    .login{height:50px;margin-top:10px;padding:15px 20px;
           border-left:1px solid #003748;color:#003748;vertical-align:middle;
           line-height:25px;}
    .login button{height:25px;padding:2.5px 10px;border-radius:2px;
                  background-color: #003748;color:#FFFFFF;}
    .login button:hover{background-color:#336699;}
.icon{height:80px;padding:20px 10px 0 10px;}
    .icon img{height:50px;}

h1, h2{text-align: center;color:#FFFFFF;padding-top:20px;}
h1{font-size:50px;}
h2{font-size:35px;}

.title{border-bottom:1px solid #00CC66;}
.content{border-top:1px solid #339933;}

form{margin-top:15px;border-radius:3px;border:1px solid #FFF;}
label{display:inline-block;margin:9px 0 8px 0;}
input, select{display:inline-block;margin-bottom:10px;background-color:#EEEEEE;border-radius:3px;padding:6px 15px;width:280px;}
    .submit{width:80px;border:1px solid #FFFFFF;}
    .submit:hover{background:#336699;color:#FFFFFF;}

.page-wrap{min-height:100%;margin-bottom:-35px;width:100%;}
.push{height:40px;}
.footer-background{background-color: #FFFFFF;width:100%;padding:0;margin:0;height:34px;display:inline-block;border-top:1px solid #00CC66;}
.footer{color:#003748;padding:10px 30px;width:100%;font-size:10px;border-top:1px solid #339933;}