body
{
    background-color:pink;
}

.w1
{
    position:relative;
    width:300px;
    height:275px;
	margin:5px;
    padding:5px;
    text-align: center;
    background-color:white;
}

#w2
{
    position:relative;
	margin:5px;
    padding:5px;
    width:300px;
    height:370px;
    text-align: center;
    background-color:white;
}

h1
{
    font-family:Impact;
	font-size:25px;
}

h2
{
    font-family:Arial;
    font-size:12px;
    text-align:center;
}

leaderboard
{
    align:center;
}

#curve_chart
{
	width:750px; 
	height:375px;
}